{% embed 'shared/tabs.html.twig' %}
    {% block tabs %}
        {% embed 'shared/tab.html.twig' with { route: 'profile' } %}
            {% block content %}
                Posts <span class="px-2 rounded-md bg-gray-200 dark:bg-gray-700">{{ user.microPost.count }}</span>
            {% endblock %}
            {% block path %}
                {{ path('profile', { id: user.id }) }}
            {% endblock %}
        {% endembed %}

        {% embed 'shared/tab.html.twig' with { route: 'profile_follows', classes: 'ml-2' } %}
            {% block content %}
                Follows <span class="px-2 rounded-md bg-gray-200 dark:bg-gray-700">{{ user.follows.count }}</span>
            {% endblock %}
            {% block path %}
                {{ path('profile_follows', { id: user.id }) }}
            {% endblock %}
        {% endembed %}

        {% embed 'shared/tab.html.twig' with { route: 'profile_followers', classes: 'ml-2' } %}
            {% block content %}
                Followers <span class="px-2 rounded-md bg-gray-200 dark:bg-gray-700">{{ user.followers.count }}</span>
            {% endblock %}
            {% block path %}
                {{ path('profile_followers', { id: user.id }) }}
            {% endblock %}
        {% endembed %}
    {% endblock %}
{% endembed %}